# Python / virtualenv
.venv*/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# dokumenti
Pavle*

# IDE
.vscode/

# za sumo
sumo_output/
demo_output/
**/output/
**/*fcd*.xml
**/*emission*.xml
**/run_fcd.csv
**/run_emission.csv
**/fcd.csv
**/emission.csv
**/vehroutes.xml
**/*.errorlog
**/*.log

.streamlit/secrets.toml
**/.ipynb_checkpoints/
